/* ********************************************************/
/*    CUSTOM SECTION STYLES */
/* **

******************************************************/

.header {
  z-index: 2;
}

.section-apie-mus-hero-bg {
  background-color: #fafafa;
}

.paslaugos-inner-hero-height-grey {
  min-height: 46.4rem;
}

.paslaugos-inner-description {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #514f58;
  padding-top: 0.8rem;
  padding-right: 12rem;
}

/* ********************************************************/
/* BOOTSTRAP BETWEEN BREAKPOINTS */
/* ********************************************************/

/* 1200px ≤ col-lg ≤ 1360px */
@media (min-width: 1200px) and (max-width: 1365.98px) {
}

/* 992px ≤ col-lg ≤ 1200px */

@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* ********************************************************/

/* 768px ≤ col-md ≤ 992px */

@media (min-width: 768px) and (max-width: 991.98px) {
}

/* ********************************************************/

/* 576px ≤ col-sm ≤ 768px */

@media (min-width: 576px) and (max-width: 767.98px) {
}

/* col < 576px */

@media (max-width: 579px) {
  .paslaugos-inner-description {
    padding-right: 0;
  }
}

/* ********************************************************/
/* CUSTOM BREAKPOINTS */
/* ********************************************************/

/*  320px ≤ col ≤ 992px */

@media (min-width: 320px) and (max-width: 991.98px) {
  .paslaugos-inner-description {
    margin-bottom: 17.8rem;
  }
}

/* ********************************************************/
/*  320px ≤ col ≤ 576px */

@media (min-width: 320px) and (max-width: 575.98px) {
}

/* < 320px (Small mobile) */

@media (max-width: 320px) {
}
